<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>

    <main class="contentContainer">


        <section class="mainContainer">
            <div class="formContainer">
                <h1>100 Notes</h1>
                <form class="form" action="/addNote" method="POST">
                    <label for="noteTitle">Add New Note</label>
                    <input type="text" placeholder="Note Title" name="noteTitle">
                    <label for="noteBody">Add New Note</label>
                    <input type="text" placeholder="Note Body" name="noteBody">
                    <input type="submit">
                </form>
            </div>
        </section>

        <section class="fridgeContainer">
            <!-- <a href="notesLogo">100 Notes</a> -->


            <!-- <ul class="notes">
                <% for(let i=0; i < info.length; i++) {%>
                    <li class="note">
                        <span>
                            <%= info[i].noteTitle %>
                        </span>
                        <span>
                            <%= info[i].noteBody %>
                        </span>
                        <!-- <span>
                            <%= info[i].likes %>
                        </span> -->
                        <!-- <span class='fa fa-thumbs-up'></span> -->
                        <!-- <span class='fa fa-trash'></span>
                    </li>
                    <% } %>
            </ul>  -->



             <% for(let i=0; i < info.length; i++) {%>
                <div class="noteContainer">
                    <ul class="notes">
                        <li class="note">
                            <span>
                                <%= info[i].noteTitle %>
                            </span>
                            <span>
                                <%= info[i].noteBody %>
                            </span>
                            <!-- <span>
                                <%= info[i].likes %>
                            </span> -->
                            <!-- <span class='fa fa-thumbs-up'></span> -->
                            <span class='fa fa-trash'></span>
                        </li>
                    </ul>
                </div>
                <% } %> 


        </section>

    </main>


    <script src='js/main.js'></script>
</body>

</html>