<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Notes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap"
        rel="stylesheet">
</head>

<body>

    <main class="contentContainer">

        <div class="deleteBtnContainer">
        <section class="mainContainer">
           
                <div class="formContainer">
                    <h1>100 Notes</h1>
                    <form class="form" action="/addNote" method="POST">
                        <label for="noteTitle">Add New Note</label>
                        <input type="text" placeholder="Note Title" name="noteTitle" id="titleInput">
                        <textarea placeholder="Note Body" name="noteBody" id="textArea" cols="3" rows="10"
                            spellcheck="true"></textarea>
                        <button type="submit" id="button">Submit</button>

                    </form>

                </div>
        </section>
        <button id="deleteAllBtn" class="deleteAllBtn">Delete All Notes</button>
        </div>
        <section class="fridgeContainer">
            <!-- <a href="notesLogo">100 Notes</a> -->


            <!-- <ul class="notes">
                <% for(let i=0; i < info.length; i++) {%>
                    <li class="note">
                        <span>
                            <%= info[i].noteTitle %>
                        </span>
                        <span>
                            <%= info[i].noteBody %>
                        </span>
                        <!-- <span>
                            <%= info[i].likes %>
                        </span> -->
            <!-- <span class='fa fa-thumbs-up'></span> -->
            <!-- <span class='fa fa-trash'></span>
                    </li>
                    <% } %>
            </ul>  -->

            <% for(let i=0; i < info.length; i++) {%>
                <div class="noteContainer">
                    <!-- <ul class="notes">
                        <li class="note"> -->
                    <div class="topOfNote">
                        <div class="noteTitleContainer">
                            <!--Generate a unique id for the noteTitle to get it directly instead of
                            relying on parentNode.ChildNode[number].innerText which changed everytime we
                            altered the position of the element at all.  Since id's can't contain whitespace
                            in html, we convert all of the spaces to '-' and the + will condense one or more
                            spaces into a single '-'.  We can do this, because we set noteTitle to be a unique
                            index on mongoDB-->
                            <span id="<%= `${info[i].noteTitle.replace(/ +/g, '-')}`%>" class="noteTitle">
                                <!-- <span class="noteTitle"> -->
                                <%= info[i].noteTitle %>
                            </span>

                            <span class="dateAdded">
                                <%= info[i].dateAdded %>
                            </span>
                        </div>

                        <div class="noteBodyContainer">
                            <!-- Again we're using the uniqueness of the noteTitle to generate a unique id
                            we can use to easily access the innerText of this element (the noteBody).  We once
                            again have to get rid of the whitespace in the title and we do it by replace it with '-' for 
                            simplicity.-->
                            <span id="<%= `${info[i].noteTitle.replace(/ +/g, '-')}-body`%>" class="noteBody">
                                <%= info[i].noteBody %>
                            </span>
                        </div>
                    </div>
                    <div class="noteIconContainer">
                        <span>
                            <%= info[i].likes %>
                        </span>

                        <!-- Again we're using the uniqueness of the noteTitle to generate a unique id
                        we can use to easily access this element.  We once
                        again have to get rid of the whitespace in the title and we do it by replace it with '-' for 
                        simplicity.  In this case we append the number of likes after '---' in the id so that we
                        can get that number directly from this id by splitting it in main.js so we can use it to 
                        update that number in the database.-->
                        <span class='fa fa-star'
                            id="<%= `${info[i].noteTitle.replace(/ +/g, '-')}---${info[i].likes}`%>">
                        </span>
                        <span class='fa fa-trash' id="<%= `${info[i].noteTitle.replace(/ +/g, '-')}`%>-delete">

                        </span>

                    </div>
                    <!-- </li>
                    </ul> -->
                </div>
                <% } %>


        </section>

    </main>


    <script src='js/main.js'></script>
</body>

</html>